<main>
  
  <section id="log-entry">
      <div class="loading-layout" *ngIf="!pagedata">
          <img class="loading-logo element-pulse" src="../../assets/images/icon-weo3.svg" />
      </div>

      <article *ngIf="pagedata">
        <h2 [innerHTML]="pagedata.title.rendered"></h2>
        <p class="entry-date">{{pagedata.date | date: 'mediumDate'}}</p>
        <section class="entry-content" [innerHTML]="pagedata.content.rendered"></section>
        <hr />
      </article>
  </section>
</main>
