<!-- <main> -->
<section id="about">

    <figure class="self-portrait">
        <img src="assets/images/billy-oneal.jpg" alt="Billy ONeal">
    </figure>

    <!-- <img src="assets/images/billyoneal.jpg" alt="Billy ONeal" class="self-portrait"> -->
    <p>Hello and good day! I’m Billy and I enjoy all things frontend, most things fullstack, and many
        things backend. Although I have a penchant for wanting things to be well-designed and pretty, my
        core desire is that things work as they should, for as long as they possibly can, with
        headache-free maintanence.</p>

    <!-- <p>Belief/philosophy</p> -->
    <p>On a personal note I enjoy my daily coffee, am inspired by nature, art and music, love riding my motorcycle, and take time to stroll in the sunshine, soaking up SoCal's warmth.
    </p>

    <p>I find joy in learning new technologies, by either growing &amp; evolving with them, or discovering that there exists a better way using a different approach. The day I stop learning and practicing code is the day I am retired from this field.</p>
    
    <h2>Connect</h2>
        <ul class="social-links">
            <li>
                <a title="Billy ONeal on LinkedIn" target="_blank" href="https://www.linkedin.com/in/billyo">
                    <img src="assets/images/icon-linkedin.png" />
                    <span>Billy O’Neal</span>
                </a>
            </li>
            <li>
                <a title="William ONeal on GitHub" target="_blank" href="https://www.github.com/metavurt">
                    <img src="assets/images/icon-github.png" />
                    <span>metavurt</span>
                </a>
            </li>
            <li>
                <a title="WEO3 Dev on Twitter" target="_blank" href="https://twitter.com/weo3dev">
                    <img src="assets/images/icon-twitter.png" />
                    <span>WEO3 Dev</span>
                </a>
            </li>
            <li>
                <a title="WEO3 Dev on Instagram" target="_blank" href="https://instagram.com/weo3dev">
                    <img src="assets/images/icon-instagram.png" />
                    <span>WEO3 Dev</span>
                </a>
            </li>
        </ul>

</section>

<!-- </main> -->
