<section id="about">

    <figure class="self-portrait">
        <img src="assets/images/billy-oneal.jpg" alt="Billy ONeal">
    </figure>

    <!-- <img src="assets/images/billyoneal.jpg" alt="Billy ONeal" class="self-portrait"> -->
    <p>I’m Billy and I enjoy building things for the web. Although I have a penchant for wanting things to be
        well-designed and pretty, my core desire is that things work as they should, for as long as they possibly can,
        with headache-free maintanence.</p>

    <p>Throughout my years as a developer, I have covered a wide-range of tech stacks, environments and deliverables, working with a wide assortment of clients.</p>
    
    <h4 class="inter-header">Some of What I Know</h4>
    <p class="faux-list"><strong>Languages (core): </strong>HTML, CSS, JavaScript, PHP</p>
    <p class="faux-list"><strong>Languages (familiar): </strong>Node, Ruby, Java</p>
    <p class="faux-list"><strong>Frameworks: </strong>Angular, React, WordPress, Drupal, Laravel</p>
    <p class="faux-list"><strong>Tooling: </strong>Git, Nodejs, Gulp, Grunt, Webpack, Sass, Twig, Handlebars, Bootstrap, Foundation, Docker, npm, Yarn</p>
    <p class="faux-list"><strong>Applications: </strong>VS Code, console, Photoshop, Sketch</p>

    <p>My daily inspiration comes from nature, music, and various online communities of developers, artists, and
        musicians.</p>

    <p>Technology never ceases to evolve, and my curiosity is, fortunately, never-ending. I am constantly keeping
        abreast of what new version or next iteration of current technology has been released, and applying what I can
        to current codebases.</p>

    <h2>Connect</h2>
    <ul class="social-links">
        <li>
            <a title="Billy ONeal on LinkedIn" target="_blank" href="https://www.linkedin.com/in/billyo">
                <img src="assets/images/icon-linkedin.png" />
                <span>Billy O’Neal</span>
            </a>
        </li>
        <li>
            <a title="William ONeal on GitHub" target="_blank" href="https://www.github.com/weo3dev">
                <img src="assets/images/icon-github.png" />
                <span>WEO3 Dev</span>
            </a>
        </li>
        <li>
            <a title="WEO3 Dev on Twitter" target="_blank" href="https://twitter.com/weo3dev">
                <img src="assets/images/icon-twitter.png" />
                <span>WEO3 Dev</span>
            </a>
        </li>
        <li>
            <a title="WEO3 Dev on Instagram" target="_blank" href="https://instagram.com/weo3dev">
                <img src="assets/images/icon-instagram.png" />
                <span>WEO3 Dev</span>
            </a>
        </li>
    </ul>

    <p></p>
    <p></p>

</section>