<!-- TODO: build work service ...
    ngFor [ card, card image, card title, card content(description), card content(skills), card action]
-->

<main>

<section id="work">


  <!-- <dl class="work-examples" [ngsRevealSet]="{reset:false, viewOffset: {top: 60}}" [ngsInterval]="75" [ngsSelector]="'.work-example'"> -->

    <dl class="work-examples">

        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-dla.jpg" alt="Discover Los Angeles website screenshot">
          </figure>
          <dt itemprop="name">Los Angeles Tourism &amp; Convention Board</dt>
          <dd itemprop="responsibilities">Lead frontend developer for Discover L.A.’s new site.</dd>
          <dd itemprop="technologies"><strong>Tech: </strong> CSS3, HTML5, JavaScript, Drupal</dd>
          <dd itemprop="url">
            <a href="http://www.discoverla.com" target="_blank">view site
              <i class="material-icons">launch</i>
            </a>
          </dd>
        </div>
      
        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-codazen.jpg" alt="alternate">
          </figure>          
          <dt itemprop="name">Codazen</dt>
          <dd itemprop="responsibilities">Build and test web-based content and components for Facebook’s Portal product site.</dd>
          <dd itemprop="technologies"><strong>Tech: </strong>XHP, React, JavaScript, CSS</dd>
          <dd itemprop="url"><a href="http://www.codazen.com" target="_blank">view site<i class="material-icons">launch</i>
          </a></dd>
        </div>
      
        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-lsav.jpg" alt="alternate">
          </figure>          
          <dt itemprop="name">Lakeshore Audiovisual</dt>
          <dd itemprop="responsibilities">Lead and direct CSS styling and implementation. Debug plugins.</dd>
          <dd itemprop="technologies"><strong>Tech: </strong>WordPress, CSS, JavaScript, PHP</dd>
          <dd itemprop="url">
            <a href="http://www.lsav.tv" target="_blank">view site
              <i class="material-icons">launch</i>
            </a>
          </dd>
        </div>
      
        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-meredith.jpg" alt="alternate">
          </figure>          
          <dt itemprop="name">Meredith Marketing</dt>
          <dd itemprop="responsibilities">Refactor existing codebase. Build and launch new site components.</dd>
          <dd itemprop="technologies"><strong>Tech: </strong>HTML, Sass, CSS, JavaScript, Freemarker</dd>
          <dd itemprop="url">
            <a href="http://www.meredith.com" target="_blank">view site
              <i class="material-icons">launch</i>
            </a>
          </dd>
        </div>
      
        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-la84.jpg" alt="alternate">
          </figure>          
          <dt itemprop="name">LA84 Foundation</dt>
          <dd itemprop="responsibilities">Full website rebuild &amp; launch.</dd>
          <dd itemprop="technologies"><strong>Tech: </strong>WordPress, HTML, CSS, JavaScript</dd>
          <dd itemprop="url">
            <a href="http://www.la84.org" target="_blank">view site
              <i class="material-icons">launch</i>
            </a>
          </dd>
        </div>
      
        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-snl.jpg" alt="alternate">
          </figure>          
          <dt itemprop="name">Sargent &amp; Lundy</dt>
          <dd itemprop="responsibilities">Full website rebuild.</dd>
          <dd itemprop="technologies"><strong>Tech: </strong>WordPress, HTML, CSS, JavaScript, PHP</dd>
          <dd itemprop="url">
            <a href="http://www.sargentlundy.com" target="_blank">view site<i class="material-icons">launch</i></a>
          </dd>
        </div>
      
        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-reyes.jpg" alt="alternate">
          </figure>          
          <dt itemprop="name">Reyes Beverages</dt>
          <dd itemprop="responsibilities">Custom build of responsive, card-based interface on top of SharePoint 2013.</dd>
          <dd itemprop="technologies"><strong>Tech: </strong>HTML, JavaScript, CSS</dd>
          <dd itemprop="url">
            <a>private intranet</a>
          </dd>
        </div>

        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-aic.jpg" alt="alternate">
          </figure>          
          <dt itemprop="name">Art Institute of Chicago</dt>
          <dd itemprop="responsibilities">Campaign landing pages, exhibit-specific sections, email campaigns.</dd>
          <dd itemprop="technologies"><strong>Tech: </strong>HTML, CSS, JavaScript, Ruby on Rails</dd>
          <dd itemprop="url">
            <a href="http://www.artic.edu" target="_blank">view site
              <i class="material-icons">launch</i>
            </a>
          </dd>
        </div>        
      
        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-hollister.jpg" alt="alternate">
          </figure>          
          <dt itemprop="name">Hollister</dt>
          <dd itemprop="responsibilities">Full redesign and theme build with SharePoint 2013.</dd>
          <dd itemprop="technologies"><strong>Tech: </strong>HTML, JavaScript, CSS</dd>
          <dd itemprop="url">
            <a>private intranet<i class="material-icons">launch</i>
            </a>
          </dd>
        </div>
      
        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-tahoe.jpg" alt="alternate">
          </figure>          
          <dt itemprop="name">Tahoe Partners</dt>
          <dd itemprop="responsibilities">SharePoint2013 design and development</dd>
          <dd itemprop="technologies"><strong>Tech: </strong>HTML, JavaScript, Node, Handlebars, CSS</dd>
          <dd itemprop="url">
            <a href="http://www.tahoepartners.com" target="_blank">view site
              <i class="material-icons">launch</i>
            </a>
          </dd>
        </div>
      
        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-panduit.jpg" alt="alternate">
          </figure>          
          <dt itemprop="name">Panduit</dt>
          <dd itemprop="responsibilities">Full site rebuild and launch.</dd>
          <dd itemprop="technologies"><strong>Tech: </strong>HTML, CSS, JavaScript, jQuery, Fatwire</dd>
          <dd itemprop="url">
            <a href="http://www.panduit.com" target="_blank">view site
              <i class="material-icons">launch</i>
            </a>
          </dd>
        </div>
      
        <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
          <figure>
              <img src="assets/images/weo3-ss-booth.jpg" alt="alternate">
          </figure>          
          <dt itemprop="name">UIC Chicago Booth</dt>
          <dd itemprop="responsibilities">Full site redesign, build, and launch.</dd>
          <dd itemprop="technologies"><strong>Tech: </strong>HTML, CSS, JavaScript, Foundation</dd>
          <dd itemprop="url">
            <a href="http://www.chicagobooth.edu" target="_blank">view site
              <i class="material-icons">launch</i>
            </a>
          </dd>
        </div>
      
  </dl>

  <!-- 

    <div class="work-example" itemscope itemtype="http://schema.org/WebSite">
      <figure>
        <img src="assets/images/weo3-ss-project.jpg" alt="alternate">
      </figure>          
      <dt itemprop="name">Project Name</dt>
      <dd itemprop="responsibilities">Project things.</dd>
      <dd itemprop="technologies"><strong>Tech: </strong>Language, things, other</dd>
      <dd itemprop="url">
        <a href="http://www.projectsite.com" target="_blank">view site
          <i class="material-icons">launch</i>
        </a>
      </dd>
    </div>

    or use
    <a>private link behind firewall/intranet</a>

-->

</section>

</main>
