<!-- need to build a service for this ...
    ngFor [ card, card image, card title, card content(description), card content(skills), card action]
-->

<section class="work">
  <ul class="project-list">
    <li>
      <div class="project-image" style="background-image: url(assets/images/weo3-ss-latourism.jpg);"></div>
      <div class="project-information">
        <p class="project-name">Los Angeles Tourism Board & Convention</p>
        <p class="project-summary">Create, build, and launch new site components for new site launch, 2019.</p>
        <p class="project-technology"><strong>Tech: </strong> CSS3, HTML5, JavaScript, Drupal</p>
        <a class="project-link" href="http://www.discoverla.com" target="_blank">view site</a>
      </div>
    </li>
    <li>
      <div class="project-image" style="background-image: url(assets/images/weo3-ss-codazen.jpg);"></div>
      <div class="project-information">
        <p class="project-name">Codazen</p>
        <p class="project-summary">Build and test web-based content and components for Facebook.</p>
        <p class="project-technology"><strong>Tech: </strong> XHP, React, JavaScript, CSS</p>
        <a class="project-link" href="http://www.codazen.com" target="_blank">view site</a>
      </div>
    </li>
    <li>
      <div class="project-image" style="background-image: url(assets/images/weo3-ss-lsav.jpg);"></div>
      <div class="project-information">
        <p class="project-name">Lakeshore Audiovisual</p>
        <p class="project-summary">Direct CSS styling and implementation. Debug issues with the theme and plugins.</p>
        <p class="project-technology"><strong>Tech: </strong>WordPress, CSS, JavaScript, PHP</p>
        <a href="http://www.lsav.tv" target="_blank" class="project-link">view site</a>
      </div>
    </li>

    <li>
      <div class="project-image" style="background-image: url(assets/images/weo3-ss-meredith.jpg);"></div>
      <div class="project-information">
        <p class="project-name">Meredith Marketing</p>
        <p class="project-summary">Refactor existing codebase. Build and launch new site components.</p>
        <p class="project-technology"><strong>Tech: </strong>HTML, Sass, CSS, JavaScript, Freemarker</p>
        <a href="http://www.meredith.com/" target="_blank" class="project-link">view site</a>
      </div>
    </li>

    <li>
      <div class="project-image" style="background-image: url(assets/images/weo3-ss-la84.jpg);"></div>
      <div class="project-information">
        <p class="project-name">LA84 Foundation</p>
        <p class="project-summary">Full website rebuild & launch.</p>
        <p class="project-technology"><strong>Tech: </strong>WordPress, HTML, CSS, JavaScript</p>
        <a href="http://www.la84.org" target="_blank" class="project-link">view site</a>
      </div>
    </li>

    <li>
      <div class="project-image" style="background-image: url(assets/images/weo3-ss-snl.jpg);"></div>
      <div class="project-information">
        <p class="project-name">Sargent &amp; Lundy</p>
        <p class="project-summary">Full website rebuild.</p>
        <p class="project-technology"><strong>Tech: </strong>WordPress, HTML, CSS, JavaScript, PHP</p>
        <a href="http://www.sargentlundy.com" target="_blank" class="project-link">view site</a>
      </div>
    </li>

    <li>
      <div class="project-image" style="background-image: url(assets/images/screenshot-reyes.jpg);"></div>
      <div class="project-information">
        <p class="project-name">Reyes Beverages</p>
        <p class="project-summary">Full design and build of responsive, card-based interface on top of SharePoint2013.</p>
        <p class="project-technology"><strong>Tech: </strong>HTML, JavaScript, CSS</p>
        <a class="project-link">private intranet</a>
      </div>
    </li>

    <li>
      <div class="project-image" style="background-image: url(assets/images/screenshot-hollister.jpg);"></div>
      <div class="project-information">
        <p class="project-name">Hollister</p>
        <p class="project-summary">Full redesign and theme build with SharePoint2013.</p>
        <p class="project-technology"><strong>Tech: </strong>HTML, JavaScript, CSS</p>
        <a class="project-link">private intranet</a>
      </div>
    </li>

    <li>
      <div class="project-image" style="background-image: url(assets/images/screenshot-tahoe.jpg);"></div>
      <div class="project-information">
        <p class="project-name">Tahoe Partners</p>
        <p class="project-summary">SharePoint2013 design and development</p>
        <p class="project-technology"><strong>Tech: </strong>HTML, JavaScript, Node, Handlebars, CSS</p>
        <a href="http://www.tahoepartners.com" target="_blank" class="project-link">view site</a>
      </div>
    </li>

    <li>
      <div class="project-image" style="background-image: url(assets/images/weo3-ss-aic.jpg);"></div>
      <div class="project-information">
        <p class="project-name">Art Institute of Chicago</p>
        <p class="project-summary">Campaign pages, landing pages, exhibit-specific projects, email campaigns.</p>
        <p class="project-technology"><strong>Tech: </strong>HTML, CSS, JavaScript, Ruby on Rails</p>
        <a href="http://www.artic.edu" target="_blank" class="project-link">view site</a>
      </div>
    </li>

    <li>
      <div class="project-image" style="background-image: url(assets/images/weo3-ss-panduit.jpg);"></div>
      <div class="project-information">
        <p class="project-name">Panduit</p>
        <p class="project-summary">Full site rebuild and launch.</p>
        <p class="project-technology"><strong>Tech: </strong>HTML, CSS, JavaScript, jQuery, Fatwire</p>
        <a href="http://www.panduit.com" target="_blank" class="project-link">view site</a>
      </div>
    </li>

    <li>
      <div class="project-image" style="background-image: url(assets/images/screenshot-chicago-booth.jpg);"></div>
      <div class="project-information">
        <p class="project-name">UIC Chicago Booth</p>
        <p class="project-summary">Full site redesign, build, and launch.</p>
        <p class="project-technology"><strong>Tech: </strong>HTML, CSS, JavaScript, Foundation</p>
        <a href="http://www.chicagobooth.edu" target="_blank" class="project-link">view site</a>
      </div>
    </li>

    <li>
      <div class="project-image" style="background-image: url(assets/images/screenshot-thin-client.jpg);"></div>
      <div class="project-information">
        <p class="project-name">IBM Thin Client</p>
        <p class="project-summary">Multiple product campaign site builds and launches.</p>
        <p class="project-technology"><strong>Tech: </strong>HTML, CSS, JavaScript</p>
        <a class="project-link">archived</a>
      </div>
    </li>

  </ul>

</section>


<!--
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-dollop.jpg">
      <span class="card-title">Dollop Coffee</span>
    </div>
    <div class="card-content">
      <p>Transitional responsive site for temporary use.</p>
      <p>
        <strong>Tools</strong>: HTML, CSS, Foundation</p>
    </div>
    <div class="card-action">
      <a href="http://www.dollopcoffee.com" target="_blank">view site</a>
    </div>
  </div>
-->
