<!-- need to build a service for this ...
    ngFor [ card, card image, card title, card content(description), card content(skills), card action]
-->


<section class="work">
  <div class="card">
      <div class="card-image">
        <img src="assets/images/screenshot-codazen.jpg">
        <span class="card-title">Codazen</span>
      </div>
      <div class="card-content">
        <p>Build and test web-based content and components for Facebook.</p>
        <p>
          <strong>Tools</strong>: XHP, React, JavaScript, CSS</p>
      </div>
      <div class="card-action">
        <a href="http://www.codazen.com" target="_blank">view site</a>
      </div>
    </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-lsav.jpg">
      <span class="card-title">Lakeshore Audiovisual</span>
    </div>
    <div class="card-content">
      <p>Direct CSS styling and implementation. Debug issues with the theme and plugins.</p>
      <p>
        <strong>Tools</strong>: WordPress, CSS, JavaScript, PHP</p>
    </div>
    <div class="card-action">
      <a href="http://www.lsav.tv" target="_blank">view site</a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-meredith.jpg">
      <span class="card-title">Meredith Xcelerated Marketing</span>
    </div>
    <div class="card-content">
      <p>Refactor existing codebase. Build and launch new site components.</p>
      <p>
        <strong>Tools</strong>: HTML, Sass, CSS, JavaScript, Freemarker</p>
    </div>
    <div class="card-action">
      <a href="http://www.meredith.com/meredithxceleratedmarketing" target="_blank">view company site</a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-la84.jpg">
      <span class="card-title">LA84 Foundation</span>
    </div>
    <div class="card-content">
      <p>Full website rebuild & launch.</p>
      <p>
        <strong>Tools</strong>: WordPress, HTML, CSS, JavaScript</p>
    </div>
    <div class="card-action">
      <a href="http://www.la84.org" target="_blank">view site</a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-sargent.jpg">
      <span class="card-title">Sargent &amp; Lundy</span>
    </div>
    <div class="card-content">
      <p>Full website rebuild.</p>
      <p>
        <strong>Tools</strong>: WordPress, HTML, CSS, JavaScript, PHP</p>
    </div>
    <div class="card-action">
      <a href="http://www.sargentlundy.com" target="_blank">view site</a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-reyes.jpg">
      <span class="card-title">Reyes Beverages</span>
    </div>
    <div class="card-content">
      <p>Full redesign and build of Sharepoint2013 interface.</p>
      <p>
        <strong>Tools</strong>: HTML, JavaScript, CSS</p>
    </div>
    <div class="card-action">
      <a>private intranet</a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-hollister.jpg">
      <span class="card-title">Hollister</span>
    </div>
    <div class="card-content">
      <p>Full redesign and theming using SharePoint2013.</p>
      <p>
        <strong>Tools</strong>: HTML, JavaScript, CSS</p>
    </div>
    <div class="card-action">
      <a>private intranet</a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-tahoe.jpg">
      <span class="card-title">Tahoe Partners</span>
    </div>
    <div class="card-content">
      <p>SharePoint2013 design & development.</p>
      <p>
        <strong>Tools</strong>: HTML, JavaScript, Node, Handlebars, CSS</p>
    </div>
    <div class="card-action">
      <a href="http://www.tahoepartners.com" target="_blank">view site</a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-dollop.jpg">
      <span class="card-title">Dollop Coffee</span>
    </div>
    <div class="card-content">
      <p>Transitional responsive site for temporary use.</p>
      <p>
        <strong>Tools</strong>: HTML, CSS, Foundation</p>
    </div>
    <div class="card-action">
      <a href="http://www.dollopcoffee.com" target="_blank">view site</a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-aic.jpg">
      <span class="card-title">Art Institute of Chicago</span>
    </div>
    <div class="card-content">
      <p>Campaign pages, landing pages, various side projects, email campaigns.</p>
      <p>
        <strong>Tools</strong>: HTML, CSS, JavaScript, jQuery, Ruby on Rails, Flash</p>
    </div>
    <div class="card-action">
      <a href="http://www.artic.edu" target="_blank">view site</a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-panduit.jpg">
      <span class="card-title">Panduit</span>
    </div>
    <div class="card-content">
      <p>Full site rebuild and launch.</p>
      <p>
        <strong>Tools</strong>: HTML, CSS, JavaScript, jQuery, Fatwire</p>
    </div>
    <div class="card-action">
      <a href="http://www.panduit.com" target="_blank">view site</a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-chicago-booth.jpg">
      <span class="card-title">UIC Chicago Booth</span>
    </div>
    <div class="card-content">
      <p>Full site rebuild and launch.</p>
      <p>
        <strong>Tools</strong>: HTML, CSS, JavaScript, jQuery, Foundation, Coffee</p>
    </div>
    <div class="card-action">
      <a href="http://www.chicagobooth.edu" target="_blank">view site</a>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="assets/images/screenshot-thin-client.jpg">
      <span class="card-title">IBM Thin Client Campaign</span>
    </div>
    <div class="card-content">
      <p>Full campaign site build and launch.</p>
      <p>
        <strong>Tools</strong>: HTML, CSS3, JavaScript</p>
    </div>
    <div class="card-action">
      <a>archived</a>
    </div>
  </div>
</section>
