<header>
  <figure>
      <img src="assets/images/weo3-logo.png" />
  </figure>
  <h1>{{sectionHeader}}</h1>
</header>

  <nav>
    <button md-button routerLink="/work" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true }">
      <mat-icon>apps</mat-icon>
      <div class="caption">work</div>
    </button>
    <button md-button routerLink="/about" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      <div class="caption">about</div>
    </button>
    <button md-button routerLink="/contact" routerLinkActive="active">
      <mat-icon>forum</mat-icon>
      <div class="caption">contact</div>
    </button>
    <button md-button routerLink="/experience" routerLinkActive="active">
      <mat-icon>format_list_bulleted</mat-icon>
      <div class="caption">experience</div>
    </button>
    <!-- <button md-button routerLink="/thoughts" routerLinkActive="active">
      <mat-icon>subject</mat-icon>
      <div class="caption">thoughts</div>
    </button> -->
  </nav>


<router-outlet></router-outlet>
