<header>
  <figure>
      <img src="assets/images/weo3-logo.png" />
  </figure>
  <h1>{{sectionHeader}}</h1>
</header>

<div class="weo3-logo-container">
      <svg id="weo3Logo" width="50%" height="50%" viewBox="0 0 840 840" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
          <g id="STROKE-W" serif:id="STROKE W">
              <path d="M108,110L108,350L230.109,227.891L352.218,350L352.218,110" style="fill:none;stroke:white;stroke-width:56px;"/>
          </g>
          <g id="STROKE-E" serif:id="STROKE E">
              <g transform="matrix(0.991837,0,0,1,3.98367,0)">
                  <path d="M488,110L733,110" style="fill:none;stroke:white;stroke-width:56.23px;"/>
              </g>
              <g transform="matrix(0.991837,0,0,1,3.98367,120)">
                  <path d="M488,110L733,110" style="fill:none;stroke:white;stroke-width:56.23px;"/>
              </g>
              <g transform="matrix(0.991837,0,0,1,3.98367,240)">
                  <path d="M488,110L733,110" style="fill:none;stroke:white;stroke-width:56.23px;"/>
              </g>
          </g>
          <g transform="matrix(-1,0,0,1,460.218,0)">
              <g id="STROKE-0" serif:id="STROKE 0">
                  <rect x="108" y="488.891" width="244.218" height="243.109" style="fill:none;stroke:white;stroke-width:56px;"/>
              </g>
          </g>
          <g transform="matrix(6.12323e-17,1,1,-6.12323e-17,379.109,379.891)">
              <g id="STROKE-3" serif:id="STROKE 3">
                  <path d="M108,110L108,350L230.109,227.891L352.218,350L352.218,110" style="fill:none;stroke:white;stroke-width:56px;"/>
              </g>
          </g>
      </svg>
</div>

<nav class="not-masked">
  <button routerLink="/work" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true }">
    <span class="material-icons">apps</span>
    <div class="caption">work</div>
  </button>
  <button routerLink="/about" routerLinkActive="active">
    <span class="material-icons">person</span>
    <div class="caption">about</div>
  </button>
  <button routerLink="/contact" routerLinkActive="active">
    <span class="material-icons">forum</span>
    <div class="caption">contact</div>
  </button>
  <button routerLink="/experience" routerLinkActive="active">
    <span class="material-icons">format_list_bulleted</span>
    <div class="caption">experience</div>
  </button>
  <!-- <button md-button routerLink="/thoughts" routerLinkActive="active">
    <! -- <mat-icon>subject</mat-icon> -- >
    <span class="material-icons">subject</span>
    <div class="caption">thoughts</div>
  </button> -->
</nav>

<nav class="layer-mask">
  <button>
    <span class="material-icons">apps</span>
    <div class="caption">work</div>
  </button>
  <button>
    <span class="material-icons">person</span>  
    <div class="caption">about</div>
  </button>
  <button>
      <span class="material-icons">forum</span>
      <div class="caption">contact</div>
  </button>
  <button>
      <span class="material-icons">format_list_bulleted</span>
      <div class="caption">experience</div>
  </button>
</nav>



  

<router-outlet></router-outlet>