/*****************************************
* weo3 dev & design :: updated nov 06, 2019
* 
* 1. Variables
* 2. Global Elements
* 3. Page items
* 4. Section/Component specific
* 5. Media Queries as needed
* 6. Helpers
*
*****************************************/

:root {

    --header-height: calc(5vh * 1.618);
  
    --font-size-minimum: 1rem;
    --font-size-maximum: 1.625rem;
  
    --screen-width-min: 16.25rem;
    --screen-width-max: 100rem;
  
    --primary-white: hsla(0, 0%, 100%, 1);
    --primary-black: hsla(0, 0%, 0%, 1);
  
    --weo3-white: hsla(0, 0%, 94%, 1);
    --weo3-black: hsla(0, 0%, 20%, 1);
    --weo3-gray: hsla(0, 0%, 68%, 1);
    --weo3-light-gray: hsla(0, 0%, 68%, 0.5);
    --weo3-blue: hsla(210, 50%, 40%, 1);
    --weo3-light-blue: hsla(210, 50%, 58%, 1);
    --weo3-transparent-light-blue: hsla(210, 50%, 58%, 0); 
    --weo3-highlight: hsla(24, 100%, 50%, 1);
  
    --weo3-text: hsla(0, 0%, 27%, 1);
  
    --work-example-spacing: 3vw;
  
  }
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    overflow: auto;
  }
  
  body {
    margin: 0;
    font-size: calc(1rem + (26 - 16) * ((100vw - 16.25rem) / (1600 - 260)));
    line-height: calc(1.1em + 0.5vw);
    color: var(--weo3-text);
    font-weight: normal;
    background: var(--weo3-white);
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  app-root {
    display: grid;
    grid-template-rows: minmax(var(--header-height), auto) 1fr;
    height: inherit;
    min-height: 100%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: var(--header-height);
    width: 100%;
    top: 0;
    background: var(--weo3-blue);
    color: var(--primary-white);
    box-shadow: 0px 9px 14px -3px hsla(210, 50%, 40%, 0.5);
    z-index: 1;
  }
  
  header figure {
    height: 100%;
    padding: 0.5em;
  }

  /* intro blip */
  .weo3-logo-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;    
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #369;
    opacity: 1;
    transition-duration: 1.5s;
    transform: scale(1);
  }

  .weo3-logo {
      width: 50%;
      height: 50%;
  }

  #weo3Logo {
    transition-duration: 1s;
  }

  .weo3-logo-exit {
    transform: scale(0.1);
    opacity: 0;
    transform-origin: center center;
  }

  .weo3-container-exit {
      opacity: 0;
      // transform: scale(0.1);
      transform-origin: center center;
  }  
  
  nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    /* top: calc(100vh - 3em); */
    /* bottom: var(--header-height); */
    bottom: 0;
    background: var(--primary-white);
    width: 100vw;
    height: 3em;
    box-shadow: -1px -1px 2rem hsla(0, 0%, 0%, 0.25);
  }
  
  nav button {
    flex: 1 1 20vw;
    border-radius: 0;
    line-height: 0.8;
    background: var(--primary-white);
    border: none;
    border-width: 0;
    color: var(--weo3-blue);
    margin: 0;
  }
  
  nav button:visited {
    color: var(--weo3-blue);
  }
  
  nav .active {
    background: var(--weo3-blue);
  }
  
  button mat-icon,
  button .caption {
    color: var(--weo3-blue);
  }
  
  nav .active .material-icons,
  nav .active .caption {
    color: var(--weo3-white);
  }
  
  button .caption {
    display: block;
    font-variant: small-caps;
    font-weight: 400;
  }
  
  router-outlet+* {
    grid-row: 2;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) auto minmax(1rem, 1fr);
    background: var(--weo3-white);
    padding-top: calc(var(--header-height) * .75);
  }
  
  router-outlet+*>* {
    grid-column: 2;
    padding-bottom: calc(var(--header-height) * 2);
    min-height: 100vh;    
  }
  
  figure {
    margin: 0;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  p {
    font-size: calc(1rem + (20 - 16) * ((100vw - 20rem) / (1600 - 320)));
    line-height: calc(1.5em + 0.25vw);
    margin: 0;
  }
  
  p+p {
    margin-top: calc(1.65em + 0.5vw);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-transform: capitalize;
  }
  
  h1 {
    font-size: calc(2rem + (1.3125 - 1) * ((100vw - 20rem) / (80 - 20)));
    margin: 0 0.5em;
  }
  
  
  /* should be h3 */
  h5 {
    font-size: calc(1.35rem + (1.3125 - 1) * ((100vw - 20rem)/ (80 - 20)));
    color: var(--weo3-blue);
    margin-bottom: 0;
  }
  
  
  /***************** View: About */
  /*******************************/
  
  #about {
    max-width: 32em;
  }
  
  
  #about h2 {
    text-align: center;
    margin-bottom: 0.5em;
  }
  
  .self-portrait {
    border-style: solid;
    border-width: calc(0.55em + 0.15vw);
    border-color: var(--primary-white);
    margin-bottom: 1em;
    border-radius: 0.75rem;
  }

  .inter-header {
    margin-bottom: 0.25rem;
  }

  .faux-list {
    margin: 0;
  }
  
  .social-links {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(16.25em, 1fr));
    max-width: 32.50em;
    margin: 0 auto;
  }
  
  .social-links a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--weo3-blue);
    background: var(--primary-white);
    width: 100%;
    font-size: 1.4rem;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 2.2rem 0 0 2.2rem;
    box-shadow: 2px 2px 10px hsla(210, 50%, 40%, 0.1);
  }
  
  /****************** View: Work */
  /*******************************/
  
  .work-examples,
  .entries-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    width: 90vw;
    grid-gap: var(--work-example-spacing);
    grid-row-gap: calc(var(--work-example-spacing) * 2);
    margin: 0 auto var(--header-height);
  }
  
  .work-example {
    display: flex;
    flex-direction: column;
    background: var(--primary-white);
    box-shadow: 0 10px 40px -14px hsla(0, 0%, 0%, .5);
    border-radius: 0.5em;
    overflow: hidden;
    font-size: calc(1rem + (18 - 16) * ((100vw - 20rem) / (1600 - 320)));
    position: relative;
  }
  
  .work-example img {
    width: 100%;
    height: 100%;
  }
  
  .work-example dt,
  .work-example dd {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .work-example [itemprop=name] {
    display: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 700;
    font-size: calc(1.2rem + (22 - 18) * ((100vw - 20rem) / (1600 - 320)));
    line-height: calc(0.95em + 0.5vw);
  }
  
  .work-example [itemprop=responsibilities] {
    display: none;
    line-height: calc(1em + 0.5vw);
  }
  
  .work-example [itemprop=technologies] {
    display: none;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    line-height: calc(1em + 0.5vw);
  }
  
  
  .work-example [itemprop=url] {
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* border-top: 1px solid #fff; */
  }
  
  .work-example [itemprop=url] a {
    display: block;
    height: inherit;
    position: relative;
  }
  
  .work-example [itemprop=url] p {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;
    font-size: 1em;
    text-decoration: none;
    height: 20%;
    width: 100%;
    background: linear-gradient(115deg, var(--weo3-blue) 15%, var(--weo3-light-blue) 40%, var(--weo3-transparent-light-blue) 55%);
    background-size: 300% 100%;
    transition: all ease-in-out .3s;
    background-position: left bottom;
    color: var(--primary-white);
    position: absolute;
    bottom: 0;
  }
  
  .work-example [itemprop=url] a[href] i {
    margin-left: 0.25rem;
  }
  
  .work-example [itemprop=url] a:not([href]) i {
    display: none;
  }
  
  
  /************ View: Experience */
  /*******************************/
  
  #experience {
    max-width: 32em;
  }
  
  .experience {
    grid-column: 2;
  }
  
  .engagements li:not(:first-child) {
    margin-top: 3em;
  }
  
  .year:not(:first-child) {
    margin-top: 5em;
  }
  
  .year > p {
    font-size: 2.25em;
    color: var(--weo3-light-blue);
    font-weight: 700;
    border-bottom: 3px solid var(--weo3-light-blue);
    font-style: italic;
    margin-bottom: 0.5em;
    line-height: 0.675;
  }
  
  .engagements p {
    line-height: 1.2;
    margin: 0;
  }
  
  .engagements p+p {
    margin-top: 0.75em;
  }
  
  
  
  /************ View: Contact */
  /*******************************/
  
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20em;
  }
  
  #contact h3 {
    color: var(--weo3-blue);
    font-size: calc(2rem + (46 - 32) * ((100vw - 16.25rem) / (1600 - 260)));
  }
  
  
  
  /*************** View: Thoughts */
  /*******************************/
  
  .loading-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .loading-logo {
    width: 20%;
    border-radius: 1em;
  }
  
  .element-pulse {
    animation: ePulse 1s cubic-bezier(0.4, 0.575, 0.6, 1.0) infinite alternate both;
  }
  
  @keyframes ePulse {
    0% {
      transform: scale(0.5);
      box-shadow: 0 0 2px hsla(210, 50%, 40%, 0.75);
    }
  
    100% {
      transform: scale(1.25);
      box-shadow: 1px 1px 20px hsla(210, 50%, 40%, 0.5);
    }
  }
  
  /* problem begin -  not quite solved - 03/11/19 */
  .fade-in-manual {
    animation-name: fadeInManual;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--mydepth) * .10s);
    opacity: 0;
  }
  
  .fade-in-manual:nth-child(1) {
    --mydepth: 1;
  }
  
  .fade-in-manual:nth-child(2) {
    --mydepth: 2;
  }
  
  .fade-in-manual:nth-child(3) {
    --mydepth: 3;
  }
  
  .fade-in-manual:nth-child(4) {
    --mydepth: 4;
  }
  
  .fade-in-manual:nth-child(5) {
    --mydepth: 5;
  }
  
  .fade-in-manual:nth-child(6) {
    --mydepth: 6;
  }
  
  .fade-in-manual:nth-child(7) {
    --mydepth: 7;
  }
  
  .fade-in-manual:nth-child(8) {
    --mydepth: 8;
  }
  
  .fade-in-manual:nth-child(9) {
    --mydepth: 9;
  }
  
  .fade-in-manual:nth-child(10) {
    --mydepth: 10;
  }
  
  @keyframes fadeInManual {
    from {
      /*opacity: 0;*/
      transform: translate3d(0, 20%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  /* problem end */
  
  
  .entry-listing {
    text-decoration: none;
  }
  
  .entry-container {
    display: flex;
    flex-direction: column;
    background: var(--weo3-light-blue);
    border-radius: 0.25em;
    overflow: hidden;
    height: 100%;
    color: var(--primary-white);
    box-shadow: 0 10px 40px -14px hsla(0, 0%, 0%, .5);
  }
  
  .entry-title,
  .entry-date {
    color: var(--primary-white);
    padding: 0.75em;
    font-size: calc(1.2rem + (22 - 18) * ((100vw - 20rem) / (1600 - 320)));
    line-height: calc(0.95em + 0.5vw);
  }
  
  .entry-title {
    text-transform: capitalize;
    font-weight: lighter;
    margin: 0;
  }
  
  .entry-date {
    margin-top: auto;
  }
  
  .entry-excerpt {
    margin: 0;
    padding: 1em;
    background: var(--primary-white);
    color: var(--weo3-black);
  }
  
  
  
  /*************** View: Logbook entry */
  /*******************************/
  
  #log-entry {
    max-width: 34em;
  }
  
  pre {
    overflow: auto;
    background: var(--primary-white);
    padding: 1em;
    border: 1px solid var(--weo3-light-blue);
    max-width: 90vw;
    margin: 0 auto;
    font-size: calc(0.85rem + (16 - 14) * ((100vw - 16.25rem) / (1600 - 260)));
  }
  
  blockquote::before {
    content: open-quote;
  }
  
  blockquote::after {
    content: close-quote;
  }
  
  #log-entry hr {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double var(--weo3-light-blue);
    color: var(--weo3-light-blue);
    text-align: center;
    margin: 8em 0;
  }
  
  #log-entry hr:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.45em;
    font-size: 2.5em;
    color: var(--weo3-light-blue);
    background: var(--weo3-white);
  }
  
  
  
  
  
  /* for the grid child switches */
  @media screen and (min-width: 35em) {
  
    .self-portrait {
      width: calc(10em + (20 - 10) * ((100vw - 16.25rem) / (1600 - 260)));
      height: calc(10em + (20 - 10) * ((100vw - 16.25rem) / (1600 - 260)));
      float: left;
      margin: 0.4em 1em 0.4em 0;
    }
  
    .social-links {
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: repeat(auto-fill, minmax(16.250rem, 1fr));
      max-width: 34rem;
      margin: 0 auto;
    }
  
    .social-links li:nth-child(even) a {
      flex-direction: row-reverse;
      border-radius: 0 2.2rem 2.2rem 0;
    }
  
  }
  
  @media screen and (min-width: 43.250em) {

    router-outlet+*+* {
      padding-bottom: unset;
      min-height: auto;
    }
  
    .work-examples,
    .entries-list {
      grid-row-gap: var(--work-example-spacing);
    }
  
    .work-example [itemprop=responsibilities] {
      margin-top: auto;
      min-height: 4em;
    }
  
    .work-example [itemprop=technologies] {
      min-height: 4.5em;
    }
  
    #contact h3 {
      text-shadow: -1px -1px 0 var(--weo3-white),
        .025em .025em 0 var(--weo3-white),
        .05em .05em 0 var(--weo3-light-blue);
    }
  
  }
  
  
  
  /* in px, 900 */
  @media screen and (min-width: 56.25em) {
    /* main switch from bottom nav to top nav */
  
    header {
      justify-content: flex-start;
      padding: 0;
    }
  
    h1 {
      display: none;
    }
  
    nav {
      align-content: flex-start;
      background: transparent;
      box-shadow: unset;
      color: var(--weo3-white);
      margin: 0;
      margin-left: calc(var(--header-height) + 0.5em);
      width: auto;
      height: var(--header-height);
      top: 0;
      position: absolute;
      justify-content: flex-start;
    }
  
    nav button {
      flex: unset;
      display: flex;
      align-items: flex-end;
      background: transparent;
      border: none;
      padding: 0 1em;
    }
  
    nav button:hover {
      cursor: pointer;
    }
  
    nav button:focus {
      outline: none;
      background-color: transparent;
    }
  
    nav .material-icons {
      display: none;
    }
  
    // nav .active {
    //   background: var(--primary-white);
    //   padding-bottom: 1rem;
    //   margin-bottom: -1rem;
    //   box-shadow: 1px 4px 21px rgba(51, 102, 153, 0.4);
    //   padding: 0 1.5em 1.5em 1.5em;
    // }
  
    // nav .active .caption {
    //   color: var(--weo3-highlight);
    // }
  
    nav .active:hover {
      cursor: default;
    }
  
    nav .caption {
      color: var(--weo3-white);
      font-variant: small-caps;
      font-weight: 400;
      font-size: calc(1.5rem + (22 - 20) * ((100vw - 16.25rem) / (1600 - 260)));
    }

    nav.layer-mask {
      pointer-events: none;
      height: calc(var(--header-height) + 20px);
      box-shadow: 0px 0 20px -6px hsla(210, 50%, 40%, 0.5);
      clip-path: inset(0px 362px -30px 0px);
      background: var(--primary-white);
    }

    nav.layer-mask button {
        padding-bottom: 20px;
    }

    nav.layer-mask .caption {
        color: var(--weo3-highlight);
    }    
  
    .work-example [itemprop=responsibilities] {
      min-height: 5rem;
    }
  
    .work-example [itemprop=url] {
      padding: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  
    .work-example [itemprop=url] p {
      height: 100%;
      color: transparent;
      background-position: right bottom;
    }
  
    .work-example [itemprop=url] a:hover p {
      background-position: left bottom;
      color: var(--primary-white);
    }  
  }
  
  /* final font-size clamp at 1600px width */
  @media screen and (min-width: 100em) {
    body {
      font-size: var(--font-size-maximum);
    }
  }
  
  
  
  .no-show {
    display: none;
  }
  