@import 'mini-reset.css';

/*****************************************
* weo3 dev & design :: updated march 05, 2019
* i. Reset
* 1. Variables
* 2. Elements
* 3. Sections
* 4. Media Queries
*****************************************/

:root {
  --font-primary: sans-serif;
  --font-secondary: serif;

  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

  --primary-white: hsla(0, 0%, 100%, 1);
  --primary-red: hsla(0, 100%, 30%, 1);

  --weo3-white: hsla(0, 0%, 98%, 1);
  --weo3-black: hsla(0, 0%, 20%, 1);
  --weo3-gray: hsla(0, 0%, 68%, 1);
  --weo3-blue: hsla(210, 50%, 40%, 1);
  --weo3-light-blue: hsla(210, 50%, 58%, 1);
  --weo3-highlight: hsla(24, 100%, 50%, 1);

  --weo3-text: hsla(0, 0%, 27%, 1);

  --header-height: 5.5vh;

}

html {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  color: var(--weo3-text);
  background-color: var(--weo3-white);
}

body {
  height: 100%;
  font-size: calc(1em + (1.3125 - 1) * ((100vw - 20em) / (80 - 20)));
  line-height: calc(1.4em + (1.8 - 1.4) * ((100vw - 20em) / (80 - 20)));  
}

app-root {
  display: grid;
  grid-template-rows: var(--header-height) auto var(--header-height);
}

section {
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) minmax(280px, 1200px) minmax(5vw, 1fr);
  grid-template-rows: auto;
  height: 100%;
  margin-top: var(--header-height);
  margin-bottom: var(--header-height);
}

  #contact, #log-entry {
    grid-template-columns: minmax(5vw, 1fr) minmax(280px, 900px) minmax(5vw, 1fr);
  }

section > * {
  grid-column: 2;
}

h1, h2, h3 {
  font-weight: 700;
}

h3 {
  font-size: calc(2rem + (1.3125 - 1) * ((100vw - 20rem) / (80 - 20)));
  color: var(--weo3-blue);
}

h5 {
  font-weight: 700;
  font-size: calc(1.35rem + (1.3125 - 1) * ((100vw - 20rem) / (80 - 20)));
  color: var(--weo3-blue);
}

p {
  margin-bottom: calc(1.4em + (1.8 - 1.4) * ((100vw - 20em) / (80 - 20)));
}


button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

figure {
  margin: 0;
}

img {
  border: 0;
  width: 100%;
}

dd {
  margin: 0;
}

fieldset {
  background: var(--primary-white);
  border: 1px solid var(--weo3-light-blue);
  padding: 0.35em 0.625em 0.75em;
  margin-bottom: 2rem;
}

legend {
  color: var(--weo3-white);
  text-transform: capitalize;
  background: var(--weo3-blue);
  padding: 0 1.5rem;
  border: 1px solid var(--weo3-blue);
  line-height: 1.5;
}

label {
  display: block;
  position: relative;
  color: var(--weo3-blue);
  font-size: 1rem;
  line-height: 0;
}

label, label > span {
  /* position: absolute; */
  left: 0;
  top: 0;
  cursor: text;
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
}

label .error {
  line-height: 1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  width: 100%;
}

input, select, textarea {
  font-size: 1em;
  padding-top: 1em;
  margin-bottom: 2px;
  border: 0;
  border-radius: 0;
  line-height: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/* TEMP MAN IMP */
.hfl {
  display: block;
  position: relative;
}
.hfl label, .hfl > span {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 75%;
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
}

.hfl select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hfl textarea {
  width: 100%;
}

.hfl input, .hfl select, .hfl textarea {
  font-size: inherit;
  padding-top: 1em;
  margin-bottom: 2px;
  width: 100%;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.hfl input::-webkit-input-placeholder, .hfl select::-webkit-input-placeholder, .hfl textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
}

.hfl input::-moz-placeholder, .hfl select::-moz-placeholder, .hfl textarea::-moz-placeholder {
  opacity: 1;
  transition: all .2s;
}

.hfl input:-ms-input-placeholder, .hfl select:-ms-input-placeholder, .hfl textarea:-ms-input-placeholder {
  opacity: 1;
  transition: all .2s;
}

.hfl input::placeholder, .hfl select::placeholder, .hfl textarea::placeholder {
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
}

.hfl input:placeholder-shown:not(:focus)::-webkit-input-placeholder, .hfl select:placeholder-shown:not(:focus)::-webkit-input-placeholder, .hfl textarea:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}

.hfl input:placeholder-shown:not(:focus)::-moz-placeholder, .hfl select:placeholder-shown:not(:focus)::-moz-placeholder, .hfl textarea:placeholder-shown:not(:focus)::-moz-placeholder {
  opacity: 0;
}

.hfl input:placeholder-shown:not(:focus):-ms-input-placeholder, .hfl select:placeholder-shown:not(:focus):-ms-input-placeholder, .hfl textarea:placeholder-shown:not(:focus):-ms-input-placeholder {
  opacity: 0;
}

.hfl input:placeholder-shown:not(:focus)::placeholder, .hfl select:placeholder-shown:not(:focus)::placeholder, .hfl textarea:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}

.hfl input:placeholder-shown:not(:focus) + *, .hfl select:placeholder-shown:not(:focus) + *, .hfl textarea:placeholder-shown:not(:focus) + * {
  font-size: 150%;
  opacity: .5;
  top: 40%;
}

.hfl input:focus, .hfl select:focus, .hfl textarea:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.5);
}

.hfl select {
  padding-right: 1em;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.5em bottom 0.25em;
  background-size: 8px 10px;
}


/* *** *** *** *** *** *** *** ** *** ** ** ** * * * */

input {
  /* line-height: normal; */
}

textarea {
  /* overflow: auto;
  width: 100%; */
}

ul:not(.browser-default) {
  padding-left: 0;
}
ul:not(.browser-default) li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 200;
  width: 100%;
  background: var(--weo3-blue);
  box-shadow: 0 0 3px var(--weo3-blue);
}

header img {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.5rem;
}

header h1 {
  flex-grow: 1;
  margin: 0;
  padding-right: 1em;
  font-size: 2em;
  color: var(--weo3-white);
  font-variant: small-caps;
  text-align: right;
}

nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 100;
  bottom: 0;
  background: var(--weo3-white);
  width: 100vw;
  height: 3em;
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.5);
}

  nav button {
    flex: 1 1 20vw;
    border-radius: 0;
    line-height: 0.8;
    background: var(--weo3-white);
    border: none;
    border-width: 0;
    color: var(--weo3-blue);
    margin: 0;
  }
nav button:visited {
  color: var(--weo3-blue);
}
nav button.active {
  background: var(--weo3-blue);
}

button mat-icon, button .caption {
  color: var(--weo3-blue);
}
button.active mat-icon, button.active .caption {
  color: var(--weo3-white);
}
button .caption {
  font-variant: small-caps;
  font-weight: 400;
}

#work {
  grid-template-columns: minmax(1rem, 1fr) minmax(280px, 1600px) minmax(1rem, 1fr);
}

.work-examples {
  grid-column: 2;
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: minmax(280px, 500px);
}

.work-example {
  display: grid;
  grid-template-columns: 0.75rem 1fr 0.75rem;
  grid-template-rows: min-content 2fr 4fr 3fr 1fr;
  background: var(--primary-white);
  border-radius: 4px;
  box-shadow: 0 10px 40px -14px hsla(0, 0%, 0%, 0.5);
}

  .work-example > * {
    grid-column: 2;
  }

  .work-example figure {
    grid-column: 1 / -1;
    overflow: hidden;
  }

  .work-example figure img {
    box-shadow: inset 0 0 10px var(--weo3-black);    
    border-bottom: 1px solid rgba(160,160,160,0.5);
  }

  dt[itemprop="name"] {
    margin-top: 0.25rem;
    font-size: calc(25px + (28 - 25) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1;
    font-weight: 600;
  }

  dd[itemprop="responsibilities"],
  dd[itemprop="technologies"] {
    font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.25;
    padding: 0.25em 0;
  }

  dd[itemprop="responsibilities"] {

  }

  dd[itemprop="technologies"] {
    border-bottom: 1px solid rgba(160,160,160,0.2);
    padding-bottom: 1rem;
    align-self: end;
  }

  dd[itemprop="url"] {
    grid-column: 1 / -1;
  }

    dd[itemprop="url"] a {
      display: flex;
      text-transform: uppercase;
      letter-spacing: 1px;
      align-items: center;
      justify-content: flex-end;
      padding: 0.5rem;   
      color: hsla(0, 0%, 69%, 1);
      font-size: 1rem; 
    }

    dd[itemprop="url"] a[href] {
      color: var(--weo3-blue);
      background: linear-gradient(117deg, var(--weo3-light-blue) 53%, var(--primary-white) 55%); 
      background-size: 300% 100%;
      background-position: right bottom;
      transition: all ease-in-out .3s;          
    }

    dd[itemprop="url"] a[href]:hover {
      background-position: left bottom;
      color: var(--primary-white);
    }

    dd[itemprop="url"] a[href] i {
      margin-left: 0.25rem;
    }

    dd[itemprop="url"] a:not([href]) i {
     display: none;
    }


.loading-layout {
  display: flex;
  height: calc(100vh - (var(--header-height)*4));
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

  .loading-text {
    flex: 1 0 auto;
    font-size: 2rem;
  }


.entries-list {
  display: grid;
  grid-gap: 1rem;
}

/* no grid support? */
.entries-list {
  display: flex;
  flex-wrap: wrap;
}

.entries-list {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: minmax(300px, 480px);
  grid-gap: 3rem;
}

@supports (display: grid) {
  .entries-list > * {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

entry-listing {
  display: flex;
  flex: 1 1 auto;
  box-shadow: 0 10px 40px -14px rgba(0,0,0,0.5);

}

#log-entry h5 {
  text-transform: capitalize;
  margin-top: 2rem;
}

#log-entry hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double var(--weo3-light-blue);
  color: var(--weo3-light-blue);
  text-align: center;
  margin: 8em 0;
}

#log-entry hr:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.45em;
  font-size: 2.5em;
  color: var(--weo3-light-blue);
  background: var(--weo3-white);
}

#log-entry ul {
  list-style-position: inside;
  margin-left: 1em;
  list-style-type: disc;
}

.entry-listing {
  display: flex;
  flex-direction: column;
  color: var(--weo3-text);
  border: 1px solid var(--weo3-gray);
}
.entry-listing .title-and-date {
  display: block;
  color: var(--weo3-white);
  padding: 1em;
  background: var(--weo3-light-blue);
}

entry-listing h3 {
  text-transform: capitalize;
  font-weight: normal;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--weo3-white);
  font-size: calc(1rem + (1.3125 - 1) * ((100vw - 20rem) / (80 - 20)));
}

.entry-listing .entry-date {
  font-variant: small-caps;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.entry-listing .entry-excerpt {
  margin: 0;
  padding: 0 1em;
  font-size: 1.4rem;
  line-height: 1.76;
}

.entry-listing .entry-link {
  align-self: flex-end;
  text-decoration: none;
  color: var(--weo3-white);
  background: var(--weo3-highlight);
  padding: 0 1em;
  border-radius: 0.25em;
  margin: 0 1em 1em;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.7;
}

pre {
  overflow: auto;
  background: var(--primary-white);
  padding: 1em;
  border: 1px solid var(--weo3-light-blue);
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}

button[type="submit"] {
  background: var(--weo3-blue);
  color: var(--weo3-white);
  float: right;
}

/*****************************************
	General
*****************************************/

.loading-logo {
  flex: 1 1 auto;
  width: calc(25% + (28 - 25) * ((100vw - 320px) / (1600 - 320)));
  height: calc(25% + (28 - 25) * ((100vw - 320px) / (1600 - 320)));
  border-radius: .5rem;
}

.about {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr minmax(min-content, 1000px) 1fr;
}

  .about > * {
    grid-column: 2;
  }

.portrait {
  width: calc(25% + (28 - 25) * ((100vw - 320px) / (1600 - 320)));
  float: left;
  border-radius: 50%;
  shape-outside: circle(50%);
  margin-right: 1em;
}

.aboutme {
  overflow: hidden;
  /* tricksies */
  margin-top: 0;
}
.aboutme li {
  padding-left: 1em;
}
.aboutme li::before {
  content: '\27B3';
  padding-right: 0.5em;
}

.social-links {
  display: flex;
  justify-content: space-around;
}
.social-links a {
  display: block;
}

.social-links a:hover img {
  filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.75));
}


label {
  color: var(--weo3-blue);
}

.error {
  color: var(--weo3-highlight);
}

.help-block {
  position: absolute;
  color: var(--primary-red);
}

.thanks {
  text-align: center;
}
.thanks .lgft {
  display: block;
  font-size: 2em;
  font-family: cursive;
}

.experience {
  grid-column: 2;
}

.experience li {
  margin-bottom: 3em;
}

.year > p {
  font-size: 2.25em;
  color: var(--weo3-light-blue);
  font-weight: 700;
  border-bottom: 2px solid var(--weo3-light-blue);
  font-style: italic;
  margin-bottom: 0.25em;
  line-height: 0.75;
}

.engagements li {
  padding-right: 5%;
  margin-bottom: 1.75em;
}
.engagements li p {
  line-height: 1.4;
  margin: 0;
}

.log-entry {
  margin-bottom: 5em;
}

.color-default          { background: var(--weo3-light-blue); }

.color-coffeescript     { background: #2d4576; }
.color-css              { background: #56397c; }
.color-html             { background: #d8452c; }
.color-javascript       { background: #EDE25C; }
.color-mysql            { background: #70A7D6; }
.color-php              { background: #535B95; }
.color-typescript       { background: #3B7489; }

.color-angular          { background: #b52e31; }
.color-laravel          { background: #f55247; }
.color-nodejs           { background: #215732; }
.color-reactjs          { background: #00d8ff; }
.color-vue              { background: #42b883; }
.color-wordpress        { background: #21759b; }


.color-angular.color-wordpress {
  /* background: linear-gradient(to right bottom,
  #1eb53a 38%, #fcd116 0, #fcd116 42%, #000 0,
  #000 58%, #fcd116 0, #fcd116 62%, #00a3dd 0); */
  background: linear-gradient(to right bottom, #b52e31 45%, #fff 0, #fff 1%, #21759b 45%, #21759b 0);
}

.element-pulse {
	animation: ePulse 1s cubic-bezier(0.4, 0.575, 0.6, 1.0) infinite alternate both;
}


.fade-in-manual {
  animation-name: fadeInManual;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--mydepth) * .10s);
  opacity: 0;
}

.fade-in-manual:nth-child(1) { --mydepth: 1; }
.fade-in-manual:nth-child(2) { --mydepth: 2; }
.fade-in-manual:nth-child(3) { --mydepth: 3; }
.fade-in-manual:nth-child(4) { --mydepth: 4; }
.fade-in-manual:nth-child(5) { --mydepth: 5; }
.fade-in-manual:nth-child(6) { --mydepth: 6; }
.fade-in-manual:nth-child(7) { --mydepth: 7; }
.fade-in-manual:nth-child(8) { --mydepth: 8; }
.fade-in-manual:nth-child(9) { --mydepth: 9; }
.fade-in-manual:nth-child(10) { --mydepth: 10; }

@keyframes fadeInManual {
  from {
    /*opacity: 0;*/
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

 @keyframes ePulse {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.25);
  }
}



/*****************************************
	Media Queries
*****************************************/
/****************************************
	BREAKS AT: 37.50em (600px), 56.25em (900px), 75em (1200px), 112.50em (1800px)
	DEFAULT 0 - 37.50em
	And as always, mobile first. Min-width, not max-width.
  original: 2/20/2017
  content updated: 5/29/2018
  breakpoints revised: 5/29/2018
****************************************/

/* above 400px */
@media only screen and (min-width: 26em) {
  .project-list {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}


/* above 900px */
@media only screen and (min-width: 56.25em) {

  /* main switch from bottom nav to top nav */
  header h1 {
    display: none;
  }

  nav {
    justify-content: initial;
    align-content: flex-start;
    background: transparent;
    box-shadow: unset;
    color: var(--weo3-white);
    position: relative;
  }

  nav button {
    flex: auto 0;
    background: transparent;
    border: none;
    padding: 0 1em;
  }
  nav button:focus {
    outline: none;
    background-color: transparent;
  }
  nav button .mat-icon {
    display: none;
  }
  nav button.active {
    background: transparent;
    box-shadow: inset 0 -4px 0 var(--weo3-white);
  }
  nav button.active:hover {
    cursor: default;
  }
  nav button .caption {
    color: var(--weo3-white);
    font-variant: small-caps;
    font-weight: 400;
    font-size: 1.5em;
  }


  /* may no longer be necessary */
  blockquote {
    font-family: "Playfair Display", Times, "Times New Roman", serif;
    font-size: 2em;
    line-height: 1em;
    margin-top: 0.7em;
    font-weight: normal;
    font-style: italic;
    quotes: "\201c" "\201d";
    text-align: center;
    margin-left: 0em;
    padding: 0;
    color: var(--weo3-blue);
    border: none;
    margin-bottom: 0.8em;
  }
  blockquote a {
    color: var(--weo3-blue);
    border: none;
  }
  blockquote:first-of-type {
    text-indent: -10px;
  }

  .engagements li {
    padding-right: 15%;
  }
}
