@import "@angular/material/prebuilt-themes/indigo-pink.css";

/*****************************************
* weo3 dev & design :: revised december 29, 2017
* -1. Branding
* 0. Colors for programming languages
* 1. Elements
* 2. Material Design amendments
* 3. General
* 4. Media Queries
*****************************************/

/*****************************************
  Colors for programming languages and tools
  thanks to: github.com/ozh/github-colors
*****************************************/

.color-coffeescript     { background-color: #2d4576; }
.color-css              { background-color: #56397c; }
.color-html             { background-color: #d8452c; }
.color-javascript       { background-color: #EDE25C; }
.color-mysql            { background-color: #70A7D6; }
.color-php              { background-color: #535B95; }
.color-typescript       { background-color: #3B7489; }

.color-angular          { background-color: #b52e31; }
.color-laravel          { background-color: #f55247; }
.color-nodejs           { background-color: #215732; }
.color-reactjs          { background-color: #00d8ff; }
.color-vue              { background-color: #42b883; }


/*****************************************
	Branding
*****************************************/
$weo3-color-primary: #336699;
$weo3-color-secondary: #84A4BF;
$weo3-color-highlight: #FF6600;
$weo3-color-white: #FAFAFA;

$weo3-font-color-primary: #565656;
$weo3-font-color-dark: #343434;

$weo3-font-family-primary: 'Assistant', Arial, Helvetica, sans-serif;
$weo3-font-family-serif: 'Playfair Display', Times, 'Times New Roman', serif;



/*****************************************
	Elements
*****************************************/
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $weo3-font-family-primary;
  color: $weo3-font-color-primary;
  background-color: $weo3-color-white;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100vw;
  height: 3em;
  background: $weo3-color-primary;
  box-shadow: 0 0 3px $weo3-color-primary;
  img {
    height: 2.5em;
    width: 2.5em;
    margin: 0 0.5em;
  }
  h1 {
    flex-grow: 1;
    margin: 0;
    padding-right: 1em;
    font-size: 2em;
    color: $weo3-color-white;
    font-variant: small-caps;
    text-align: right;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 100;
  bottom: 0;
  background: $weo3-color-white;
  width: 100vw;
  height: 3em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  img {
    display: none;
  }
  button {
    flex: 1;
    border-radius: 0;
    line-height: 0.8;
    background: $weo3-color-white;
    border: none;
    border-width: 0;
    color: $weo3-color-primary;
    &:visited {
      color: $weo3-color-primary;
    }
    &.active {
      background: $weo3-color-primary;
    }
  }
}

button {
  mat-icon, .caption {
    color: $weo3-color-primary;
  }
  &.active {
    mat-icon, .caption {
      color: $weo3-color-white;
    }
  }
  .caption {
    font-variant: small-caps;
    font-weight: 400;
  }
}

/* temporary fix to a bug */
.mat-button-focus-overlay, .mat-button-ripple {
  z-index: -1;
}

.mat-button-focus-overlay {
  display: none;
}

section {
  padding: 4.5em 1.25em 6em;
  margin: 0 auto;
}

.work {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.contact {
  padding-bottom: 8em;
}

/* Glyph, by Harry Roberts */
.log-entry {
  hr {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double $weo3-color-primary;
    color: $weo3-color-primary;
    text-align: center;
    margin: 8em 0;
    &:after {
      content: "§";
      display: inline-block;
      position: relative;
      top: -0.9em;
      font-size: 1.5em;
      color: $weo3-color-primary;
      background: $weo3-color-white;
    }
  }
  ul {
    list-style-position: inside;
    margin-left: 1em;
    list-style-type: disc;
  }
}

li {
  list-style-type: disc;
}

.entry-listing {
  display: flex;
  flex-direction: column;
  border: 1px solid $weo3-color-secondary;
  .title-and-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $weo3-color-secondary;
    color: $weo3-color-white;
    padding: 1em 1em 0;
  }
  h3 {
    text-transform: capitalize;
    font-weight: normal;
    font-family: $weo3-font-family-primary;
    margin: 0 0 0.5em;
    padding: 0;
    line-height: 1;
  }
  .entry-date {
    font-variant: small-caps;
    font-weight: lighter;
    margin: 0;
    padding: 0;
  }
  .entry-excerpt {
    margin: 0;
    padding: 0 1em;
  }
  .entry-link {
    align-self: flex-end;
    text-decoration: none;
    color: #FAFAFA;
    background: #FF6600;
    padding: 0 1em;
    border-radius: 0.25em;
    margin: 0 1em 1em;
    font-family: "Assistant", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 1.7;
  }
}

pre {
  background: #EFEFEF;
  padding: 1em;
}

blockquote {
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
}

button[type="submit"] {
  background: $weo3-color-primary;
  color: $weo3-color-white;
  float: right;
}

img {
  max-width: 99%;
  height: auto;
}

/*****************************************
	Material Design amendments
*****************************************/
h2 {
  font-size: 2.56rem;
  line-height: 1;
  text-transform: capitalize;
  margin: 1.78rem 0 0 0;
  padding-bottom: 0;
  border-bottom: 2px solid $weo3-color-highlight;
}

h3 {
  font-size: 1.5em;
  font-variant: small-caps;
  margin-bottom: 0;
}

h5 {
  font-size: 1.94rem;
  line-height: 1;
  margin: 0;
  margin-top: 3rem;
  font-variant: small-caps;
  + p {
    margin-top: 0;
  }
}

p {
  line-height: 1.8;
}

.log-entry ul:not(.browser-default) li {
  list-style-type: disc;
  text-indent: -1em;
}

strong {
  font-weight: 700;
  /* for font-type Assistant */
}

fieldset {
  margin: 0 0 2em 0;
  border: 1px solid rgba(51, 102, 153, 0.5);
}

legend {
  font-variant: small-caps;
  padding: 0 0.5em;
  border: 1px solid rgba(51, 102, 153, 0.5);
  background: $weo3-color-primary;
  color: $weo3-color-white;
}

label {
  font-size: 1rem;
  /*color: #9e9e9e;*/
  /* label prompt color setting is in section General */
}

[type="radio"] {
  &:not(:checked) + label, &:checked + label {
    line-height: 1.4;
    padding-left: 1.5em;
    padding-right: 2em;
  }
  &:not(:checked) + label {
    &::before, &::after {
      border: 1px solid $weo3-color-primary;
    }
  }
  &:checked + label::after {
    background-color: $weo3-color-primary;
  }
}

.with-gap[type="radio"]:checked + label::after {
  background-color: $weo3-color-primary;
}

[type="radio"]:checked + label::after {
  border: 1px solid $weo3-color-primary;
}

.with-gap[type="radio"]:checked + label {
  &::before, &::after {
    border: 1px solid $weo3-color-primary;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  .card-image .card-title {
    padding: 0 0.2em;
    background: $weo3-color-white;
    width: 100%;
    color: $weo3-font-color-dark;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2;
    border-top: 1px solid $weo3-color-white;
  }
  .card-content {
    flex: 1;
    padding: 0.25em 0.3em 0;
    p {
      font-size: 1em;
      line-height: 1.2;
      margin-bottom: 0.5em;
    }
  }
  .card-action {
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
    a {
      &:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating), &[href] {
        display: flex;
        justify-content: flex-end;
        margin-right: 0;
        transition: 0;
        text-transform: uppercase;
        color: $weo3-color-primary;
      }
      &:hover:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating), &[href]:hover {
        color: $weo3-color-primary;
      }
      &:not([href]) {
        flex: 1;
        align-content: center;
        text-align: center;
        color: #AFAFAF;
      }
      &[href]:after {
        font-family: 'Material Icons';
        padding-left: 0.4em;
        content: "\E89E";
      }
    }
  }
}

/* exact reference calls per material design css */
/* hack fix. needs fixin */
input {
  &:not([type]):focus:not([readonly]), &[type=text]:focus:not([readonly]), &[type=password]:focus:not([readonly]), &[type=email]:focus:not([readonly]), &[type=url]:focus:not([readonly]), &[type=time]:focus:not([readonly]), &[type=date]:focus:not([readonly]), &[type=datetime]:focus:not([readonly]), &[type=datetime-local]:focus:not([readonly]), &[type=tel]:focus:not([readonly]), &[type=number]:focus:not([readonly]), &[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid $weo3-color-primary;
    box-shadow: 0 1px 0 0 $weo3-color-primary;
  }
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $weo3-color-primary;
  box-shadow: 0 1px 0 0 $weo3-color-primary;
}

/* hack fix. needs fixin */
input {
  &:not([type]):focus:not([readonly]) + label, &[type=text]:focus:not([readonly]) + label, &[type=password]:focus:not([readonly]) + label, &[type=email]:focus:not([readonly]) + label, &[type=url]:focus:not([readonly]) + label, &[type=time]:focus:not([readonly]) + label, &[type=date]:focus:not([readonly]) + label, &[type=datetime]:focus:not([readonly]) + label, &[type=datetime-local]:focus:not([readonly]) + label, &[type=tel]:focus:not([readonly]) + label, &[type=number]:focus:not([readonly]) + label, &[type=search]:focus:not([readonly]) + label {
    color: $weo3-color-primary;
  }
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: $weo3-color-primary;
}

/*****************************************
	General
*****************************************/
.load-animate-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.portrait {
  max-width: 32vw;
  float: left;
  border-radius: 50%;
  margin-right: 1em;
}

.aboutme-setup {
  margin-bottom: 0;
}

.aboutme {
  overflow: hidden;
  /* tricksies */
  margin-top: 0;
  li {
    &::before {
      content: '\27B3';
      padding-right: 0.5em;
    }
    padding-left: 1em;
  }
}

.social-links {
  display: flex;
  justify-content: space-around;
  a {
    display: block;
  }
}

.beer-call {
  display: flex;
  background: url('assets/images/porter.png') no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  height: 30vh;
  text-align: center;
  p {
    width: 100%;
    text-align: center;
    font-variant: small-caps;
    font-size: 3em;
    font-weight: 700;
    color: $weo3-color-highlight;
    text-shadow: 0px 2px 0px $weo3-color-white, 0px 3px 0px $weo3-color-highlight;
    line-height: 1;
  }
}

label.prompter {
  color: $weo3-color-primary;
}

.input-field .error {
  color: $weo3-color-highlight;
  margin-top: -20px;
  /* to offset material design for now */
}

.help-block {
  position: absolute;
  color: #900;
  bottom: 0;
}

nouislider {
  width: 90%;
  margin: auto;
}

.noUi-connect {
  background: $weo3-color-secondary;
}

.thanks {
  text-align: center;
  .lgft {
    display: block;
    font-size: 2em;
    font-family: cursive;
  }
}

.experience li {
  margin-bottom: 3em;
}

.year > p {
  font-size: 2.25em;
  color: $weo3-color-secondary;
  font-weight: 700;
  border-bottom: 2px solid $weo3-color-secondary;
  font-style: italic;
  margin-bottom: 0.25em;
  line-height: 0.7;
}

.engagements li {
  padding-right: 5%;
  margin-bottom: 1.75em;
  p {
    line-height: 1.4;
    margin: 0;
  }
}

.log-entry {
  margin-bottom: 5em;
}

/*****************************************
	Media Queries
*****************************************/

/****************************************
	BREAKS AT: 37.50em (600px), 56.25em (900px), 75em (1200px), 112.50em (1800px)
	DEFAULT 0 - 37.50em
	And as always, mobile first. Min-width, not max-width.
	2/20/2017
****************************************/

/* 600px */
@media only screen and (min-width: 37.5em) {
  .portrait {
    max-width: 20vw;
  }
  .card {
    max-width: calc(50% - 20px);
  }
  nouislider {
    width: 80%;
    margin: auto;
  }
  .engagements li {
    padding-right: 10%;
  }
}

/* 900px */
@media only screen and (min-width: 56.25em) {
  header {
    display: none;
  }
  nav {
    justify-content: initial;
    align-content: flex-start;
    background: $weo3-color-primary;
    box-shadow: 0 0 3px $weo3-color-primary;
    top: 0;
    color: $weo3-color-white;
    img {
      display: block;
      height: 2.5em;
      width: 2.5em;
      margin: .25em 1em .25em .25em;
    }
    button {
      flex: auto 0;
      background: transparent;
      border: none;
      padding: 0 1em;
      &:focus {
        outline: none;
        background-color: transparent;
      }
      .mat-icon {
        display: none;
      }
      &.active {
        background: transparent;
        box-shadow: inset 0 -4px 0 $weo3-color-white;
        &:hover {
          cursor: default;
        }
      }
      .caption {
        color: $weo3-color-white;
        font-variant: small-caps;
        font-weight: 400;
        font-size: 1.5em;
      }
    }
  }
  section {
    width: 65vw;
  }
  .work {
    width: 80vw;
  }
  blockquote {
    font-family: $weo3-font-family-serif;
    font-size: 2em;
    line-height: 1em;
    margin-top: 0.7em;
    font-weight: normal;
    font-style: italic;
    quotes: "\201c" "\201d";
    text-align: center;
    margin-left: 0em;
    padding: 0;
    color: $weo3-color-primary;
    border: none;
    margin-bottom: 0.8em;
    a {
      color: $weo3-color-primary;
      border: none;
    }
    &:first-of-type {
      text-indent: -10px;
    }
  }
  .portrait {
    max-width: 15vw;
  }
  .social-links a:hover img {
    filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.75));
  }
  .engagements li {
    padding-right: 15%;
  }
}

/* 1200px */
@media only screen and (min-width: 75em) {
  section {
    width: 55vw;
  }
  .card {
    width: calc(33.33333% - 20px);
  }
}

/* 1800px */
@media only screen and (min-width: 112.5em) {}


